

.container {
    background-image: url(images/Frontend.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.acmeweb {
    color: white;
    text-align: center;
    padding-top: 80px;
    
}

.text {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
}

.button {
    text-align: center;
    padding-top: 20px; 
}

.button :hover {
    color: rgb(252, 251, 251);
    background-color: rgb(95, 6, 6);
}

.container1 {
    height: 200px;
    width: 100%;
    background-color: azure;
    text-align: center;  
}

.container2 {

}

#imgsize {
    width: 300px;
    height: 200px;
}

.imgcont {
    width: 100%; 
}

.image1 {
    width: 300px;
    text-align: justify;
    margin: 0px auto;
}

.image2 {
    width: 300px;
    text-align: justify;
    margin: 0px auto;
}

.image3 {
    width: 300px;
    text-align: justify;
    margin: 0px auto;
}

.intro {
    margin: 0px auto;
    padding: 0px 16px;
    background-color: white;
    margin-top: 16px;
}

.intro h1 {
    text-align: center;
}

.intro p {
    margin: 0px auto;
    text-align: center;
}

.container3{
    background-color: black;

}

.contact {
    margin: 0px auto;
    background-color: indianred;
    color: white;
}

.contact h1 {
    text-align: center;
}

.contact p {
    padding: 0px 16px;
}

.contact .mail {
    text-align: center;
    font-weight: 20px; 

}

.about {
    margin: 0px auto;
    background-color: gray;
}

.about h1 {
    text-align: center;
}

.about p {
    padding: 0px 16px;
}


.conc {
    float: left;
    width: 50%;
    text-align: left;
}

.developer {
    float: right;
    width: 50%;
    text-align: right;
}

@media screen and (min-width:1000px){
    .container2 {
        background-color: black;
        height: 420px;
        padding-top: 50px;
    }

    #imgsize {
        width: 325px;
        height: 200px;
    }
    .imgcont {
        width: 100%; 
        display: flex;
    }

    .image1 {
        background-color: white;
        width: 325px;
    }

    .image2 {
        background-color: white;
        width: 325px;
    }

    .image3 {
        background-color: white;
        width: 325px;
    }



    .container3{
        background-color: black;
        height: 250px;
        padding-top: 30px;
        padding-bottom: px;
        margin-top: 30px;
    }

    .contact {
        width: 50%;
        float: left;
        height: 220px;
    }

    .about {
        width: 50%;
        float: right;
        height: 220px;
    }

    .container4 {
        background-color: black;
    }
    
    .conc {
        float: left;
        width: 30%;
        text-align: left;
        padding-left: 100px;
    }
    
    .developer {
        float: right;
        width: 30%;
        text-align: right;
        padding-right: 100px;
    }
}
